:root {
  --background-color_primary: #fff;
  --background-color_secondary: #f9fafa;
  --hover-background: #f0f0f0;
  --text-color: #555f62;
  --text-color-secondary: #000;
  --button-color: #3240e5;
  --hover-element: #3295ce;
  --link-color: #182cc0;
  --border-color: #e1e4e5;
  --border-color_secondary: #eef1f1;
  --default-font-weight: 500;
}

.padding-global {
  padding-left: 47px;
  padding-right: 47px;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.picturemaindiv {
  padding: 32px 10.5% 60px;
}
.imgbody {
  background-image: url("/img/tbcimgbody.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 392px;
  border-radius: 6px;
}
.blackblur {
  width: 100%;
  height: 392px;
  background-color: #00000045;
  border-radius: 6px;
}
.img_txts {
  color: #fff;
  padding: 10% 8%;
}
.tbcbodytxt {
  width: 50%;
}
.tbcimg_btn {
  width: 17%;
  height: 16px;
  display: flex;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  padding: 2% 3% 4%;
  border-radius: 4px;
  font-size: 12px;
  grid-column-gap: 6px;
  margin-top: 16px;
  color: #fff;
}
.tbcimg_btn {
  width: 17%;
  height: 16px;
  display: flex;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  padding: 2% 3% 4%;
  border-radius: 4px;
  font-size: 12px;
  grid-column-gap: 6px;
  margin-top: 16px;
  color: #fff;
}

.tbcimg_btn:hover {
  background: #3295ce;
  transition: 1s;
}
.sec_third_images {
  width: 100%;
  /* border: 1px solid red; */
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .global_padding {
  border: 1px solid green;
} */
.text_image_container {
  /* border: 1px solid blue; */
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.image_text {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  display: flex;
}

.image_text h2 {
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

.grid_part {
  display: grid;
  /* border: 2px solid red; */
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}
.img_scale {
  /* border: 1px solid red; */
  min-height: 256px;
  gap: 20px;
  color: #fff;
  background-color: #141719;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.img_scale:hover .grid_image_wrapper img {
  transform: scale(1.05);
  transition: 1s;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.grid_card_content {
  z-index: 2;
  height: 100%;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  display: flex;
  position: relative;
}
.grid_card_content h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}
.arrow_txt {
  grid-column-gap: 6px;
  color: #182cc0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  flex: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  display: flex;
}
.arrow_txt a {
  color: #fff;
}
.grid_image_wrapper {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.grid_image_wrapper img {
  width: 100%;

  height: 100%;
}
.sec_img_card {
  grid-area: span 2 / span 1 / span 2 / span 1;
}
.sec_img_card img {
  object-fit: cover;
}
@media (max_width: 480px) {
  /* .grid_part {
    grid-column-gap: 16px;
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    overflow: auto;
  }
  .img_scale {
    width: 280px;
    flex: none;
  } */
}
@media (max-width: 480px) {
  .grid_part {
    grid-column-gap: 16px;
    margin-left: -45px;
    margin-right: -15px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    overflow: auto;
  }
  .img_scale {
    width: 280px;
    flex: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .grid_part {
    grid-column-gap: 16px;
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    overflow: auto;
  }
  .img_scale {
    width: 280px;
    flex: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .img_scale {
    min-height: 232px;
  }
}
/* footer */
footer {
  background-color: white;
}

.logo-language-div {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.footer-large-tbc-logo {
  display: none;
}

.language-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-div > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-div > div:nth-child(1):hover {
  background-color: #f9fafa;
}

.language-div > div:last-child {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px;
  font-weight: bold;
}

.footer-arrow-div {
  padding-block: 24px;
  border-bottom: 1px solid #d8d8d8;
}

.footer-arrow-div h3 {
  font-size: 18px;
  color: #141719;
}

.footer-arrow-div-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-arrow-div-content {
  display: grid;
  grid-template-rows: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s linear 1s;
}

.footer-arrow-div-content a {
  text-decoration: none;
  color: #555f62;
  font-size: 16px;
  margin-top: 20px;
  transition: color 0.5s ease;
}

.footer-arrow-div-content a:hover {
  color: #182cc0;
}

.arrow {
  transition: transform 1s ease;
}

.arrow.isExpanded {
  transform: rotate(180deg);
}

.footer-arrow-div-content.isExpanded {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s;
}

.contact-div {
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-div h3 {
  font-size: 18px;
  color: #141719;
}

.contact-div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 16px;
  color: #555f62;
  font-weight: bold;
}

.contact-div a:hover {
  text-decoration: underline;
}

.social-networks-div {
  padding-block: 20px;
  margin-bottom: 20px;
}

.social-networks-div h3 {
  font-size: 18px;
  color: #141719;
  margin-bottom: 20px;
}

.social-networks-div div {
  display: flex;
  gap: 15px;
}

.social-svg {
  fill: #555f62;
  transition: fill 0.5s ease;
}

.social-btn {
  cursor: pointer;
  border: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.social-btn:hover {
  background-color: #d8d8d8;
}

.social-btn:hover .social-svg {
  fill: #182cc0;
}

.rules-div {
  padding-block: 24px;
  background-color: #f9fafa;
}

.rules-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rules-text-div p {
  font-size: 16px;
  color: #555f62;
  cursor: pointer;
  transition: color 0.5s ease;
}

.rules-text-div p:hover {
  color: #182cc0;
}

.rules-div p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #6f787b;
}

/* ***************************** */
/* კონფიდენციალურობის სტილები */
/* *************************** */

.privacy-menu {
  position: fixed;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

.privacy-menu.isOpened {
  transform: translateY(0);
  transition: 1s;
}

.privacy-menu-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  border-bottom: 1px solid #d8d8d8;
}

.privacy-menu-header-div h2 {
  font-size: 16px;
  color: #141719;
}

.privacy-menu-close-div {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
}

.privacy-menu-close-div:hover {
  background-color: #f9fafa;
  transition: background-color 0.5s ease;
}

.privacy-text-div {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100% - 79px);
}

.privacy-text-div .first-text {
  margin-top: 24px;
}

.privacy-text-div::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.privacy-text-div::-webkit-scrollbar-thumb {
  background: #091468be;
}

.privacy-text-div::-webkit-scrollbar {
  height: 20px;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 650px;
  overflow-x: auto;
  overflow-y: auto;
}

.scrollable-content h4 {
  font-weight: bold;
  color: #555f62;
  font-size: 20px;
}

.scrollable-content p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
}

.scrollable-content p > a {
  color: #555f62;
}

.scrollable-content ul {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  color: #555f62;
  gap: 5px;
  line-height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #555f62;
}
th,
td {
  border: 1px solid #555f62;
  text-align: left;
  font-size: 16px;
  color: #555f62;
}
th {
  font-weight: bold;
}

.last-privacy-text {
  margin-bottom: 50px;
}

/* ********************* */
/* წესების მენიუს დიზაინი */
/* ******************* */

.rules-menu {
  position: fixed;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

.rules-menu.isOpened {
  transform: translateY(0);
  transition: 1s;
}

.rules-menu-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  border-bottom: 1px solid #d8d8d8;
}

.rules-menu-header-div h2 {
  font-size: 16px;
  color: #141719;
}

.rules-menu-text-div {
  max-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding-block: 24px;
  overflow-y: scroll;
}

.rules-menu-text-div h3 {
  font-size: 18px;
  color: #141719;
  margin-bottom: 20px;
}
.rules-menu-text-div p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.rules-menu-text-div p a {
  color: #555f62;
}

.rules-menu-close-div {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
}

.rules-menu-close-div:hover {
  background-color: #f9fafa;
  transition: background-color 0.5s ease;
}

@media only screen and (min-width: 480px) {
  .header-tools-div a {
    font-size: 16px;
  }

  .burger-arrow-div {
    padding-block: 30px;
  }

  .rules-burger-div {
    padding-block: 50px 81px;
  }

  .left-arrow {
    display: none;
  }

  .navigate-main-div {
    margin-bottom: 60px;
  }

  .hero-data {
    padding-block: 240px 36px;
  }

  .hero-data h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .hero-image {
    height: 450px;
  }

  .hero-block::before {
    width: 100%;
    height: 450px;
  }

  .subscribe-tbc-text-div {
    font-size: 30px;
  }

  .choose-set-div h2 {
    font-size: 26px;
  }

  .number-div {
    gap: 25px;
  }

  .number-inside-div {
    padding: 40px 48px;
  }

  .number {
    font-size: 46px;
    margin-bottom: 20px;
  }

  .number-text {
    font-size: 18px;
  }

  .mobile-image-div img {
    width: 370px;
  }

  .offers-text-div {
    padding: 0 45px;
  }

  .offers-image {
    height: 181px;
  }

  .offers-div h2 {
    font-size: 26px;
  }

  .offers-div a {
    font-weight: bold;
  }

  .offers-slider {
    height: 400px;
  }

  .digital-bank-div {
    padding-block: 45px;
  }

  .digital-bank-div h2 {
    font-size: 26px;
  }

  .products-div h2 {
    font-size: 26px;
  }

  .products-slider {
    padding-block: 0px 20px;
  }

  .reward-div h2 {
    padding: 0 45px;
    font-size: 26px;
  }

  .rewards-slider {
    padding: 0 45px 20px 45px;
  }

  .rewards-slide {
    min-width: 320px;
  }

  .reward-swiper-container {
    height: 280px;
  }

  .logo-language-div {
    padding-block: 36px;
  }

  .footer-arrow-div {
    padding-block: 36px;
  }

  .footer-arrow-div h3 {
    font-size: 26px;
  }

  .contact-div {
    padding-block: 32px;
  }

  .contact-div h3 {
    font-size: 26px;
  }

  .social-networks-div {
    padding-block: 20px;
  }

  .social-networks-div h3 {
    font-size: 26px;
  }
  .rules-div {
    padding-block: 32px;
    background-color: #f9fafa;
  }

  .privacy-menu {
    height: 90%;
  }

  .privacy-menu-header-div {
    padding-block: 32px;
  }

  .privacy-menu-header-div h2 {
    font-size: 26px;
  }

  .privacy-menu-close-div {
    padding: 8px;
  }

  .privacy-text-div {
    max-height: calc(100% - 105px);
  }

  .privacy-text-div .first-text {
    margin-top: 40px;
  }

  .rules-menu {
    height: 90%;
  }

  .rules-menu-header-div {
    padding-block: 32px;
  }

  .rules-menu-header-div h2 {
    font-size: 26px;
  }

  .rules-menu-text-div {
    padding-block: 40px;
  }

  .rules-menu-close-div {
    padding: 8px;
  }

  .open-close-div {
    padding: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .products-slider {
    height: 420px;
  }

  .reward-swiper-container {
    height: 340px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-block-wrapper {
    padding-inline: 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-arrow-div {
    border: none;
  }

  .tbc-concept-mobile {
    display: none;
  }

  .tbc-concept-large {
    display: block;
  }

  .header-tools-div {
    gap: 25px;
  }

  .rules-burger-div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f9fafa;
    justify-content: space-between;
  }

  .rules-burger-text-div {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
    gap: 25px;
  }

  .rules-burger-div p {
    display: flex;
    align-items: center;
    left: 0;
    gap: 10px;
  }

  .hero-block {
    padding-inline: unset;
  }

  .hero-block::before {
    left: auto;
    width: 100%;
    height: 450px;
    border-radius: 5px;
  }

  .hero-image {
    height: 450px;
    border-radius: 5px;
  }

  .hero-data {
    padding: 262px 110px 50px 50px;
  }

  .hero-data h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .hero-data p {
    font-size: 16px;
  }

  .hero-data button {
    width: 26%;
  }

  .choose-set-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
  }

  .choose-set-slider a:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .choose-set-slider a:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .choose-set-slider a:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-image {
    height: 495px;
  }

  .grid-text {
    bottom: 5%;
  }

  .set-image-inside-div h3 {
    font-size: 26px;
  }

  .offers-slide {
    min-width: 330px;
    height: 375px;
  }

  .offers-image {
    height: 201px;
    margin-bottom: 0;
  }

  .offers-inside-text-div {
    padding: 28px;
  }

  .offers-inside-text-div div {
    font-size: 16px;
  }

  .offers-inside-text-div h3 {
    font-size: 18px;
  }

  .digital-bank-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-block: 45px 0;
    gap: 50px;
  }

  .mobile-image-div img {
    width: 230px;
    margin-bottom: 0;
  }

  .digital-bank-div h2 {
    display: none;
  }

  .mobile-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-text-div h2 {
    display: block;
    font-size: 26px;
  }

  .download-button {
    width: 35%;
  }

  .products-text-div {
    padding: 28px;
  }

  .products-text-div h3 {
    font-size: 18px;
  }

  .products-text-div p {
    font-size: 16px;
  }

  .products-slide {
    min-width: 330px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    transition: box-shadow 0.5s ease;
  }

  .rewards-slide h3 {
    font-size: 18px;
  }

  .footer-links-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
  }

  .contact-and-social-div {
    display: flex;
    flex-direction: column;
  }

  .logo-language-div {
    border-bottom: none;
  }

  .footer-arrow {
    display: none;
  }

  .only {
    max-height: none;
    opacity: 1;
    visibility: visible;
    transition: none;
  }

  .footer-arrow-div h3 {
    font-size: 16px;
  }

  .contact-div h3 {
    font-size: 16px;
  }

  .social-networks-div h3 {
    font-size: 16px;
  }

  .footer-arrow-div {
    padding: 32px 0 32px 45px;
  }

  .contact-div {
    padding-block: 32px;
  }

  .social-networks-div {
    padding-block: 20px;
  }

  .social-btn {
    padding: 10px;
  }

  .rules-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .rules-div p {
    font-size: 14px;
  }

  .rules-text-div {
    display: flex;
    gap: 25px;
    margin-bottom: 0;
  }

  .rules-text-div p {
    font-size: 14px;
  }

  .footer-mobile-tbc-logo {
    display: none;
  }

  .footer-large-tbc-logo {
    display: block;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 60px;
  height: 100%;
}

@media only screen and (min-width: 1080px) {
  .burger-icon {
    display: none;
  }

  header {
    border-bottom: 1px solid #d8d8d8;
  }

  .header-tools-div {
    gap: 10px;
  }

  .header-tools-div .language-div {
    display: flex;
    gap: 10px;
  }

  .header-tools-div .language-div > div:nth-child(1) {
    margin-bottom: 0;
  }

  .desktop-header-menu {
    display: flex;
    gap: 40px;
    height: 100%;
  }

  .desktop-header-menu div {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #222222;
  }

  .desktop-header-menu-nav {
    display: flex;
    gap: 12px;
  }

  .desktop-header-menu-nav div {
    opacity: 0;
    transition: 300ms;
  }

  .desktop-header-menu-nav div > a {
    font-size: 16px;
    color: #141719;
  }

  .desktop-header-menu-nav div > a:hover {
    color: #182cc0;
    transition: color 0.5s ease;
  }

  .desktop-menu {
    display: none;
    position: fixed;
    top: 80px;
    z-index: 100;
    background-color: white;
    width: 100%;
  }

  .desktop-menu nav {
    width: 100%;
    max-width: 1110px;
    margin-inline: auto;
    background-color: white;
    display: flex;
    padding-block: 30px;
    gap: 34px;
  }

  .desktop-menu nav a {
    text-decoration: none;
  }

  .desktop-menu-digital-bank-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .desktop-menu-digital-bank-text p {
    font-size: 16px;
    color: #182cc0;
    font-weight: bold;
  }

  .desktop-menu-digital-bank-text:hover svg {
    fill: #007aff;
    transition: fill 0.5s ease;
  }

  .desktop-menu-digital-bank-text:hover p {
    color: #007aff;
    transition: color 0.5s ease;
  }

  .products-desktop-menu-div,
  .offers-desktop-menu-div,
  .concept-space-desktop-menu-div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 135px;
    gap: 20px;
  }

  .menu-line {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #182cc0;
    transition: 300ms;
  }

  .menu-line_opened {
    left: 0;
    width: 100%;
  }

  .hero-block {
    justify-content: flex-start;
  }

  .hero-data {
    padding-inline: 80px;
  }

  .download-button {
    display: none;
  }

  .android-apple-download-div {
    display: flex;
    gap: 15px;
  }

  .download-button-svg {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    padding: 15px 25px;
  }

  .download-button-svg:hover {
    background-color: #f9fafa;
  }

  .number-div {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1110px) {
  .subscribe-tbc-text-div p {
    max-width: 1110px;
    margin-inline: auto;
  }

  .choose-set-div {
    max-width: 1200px;
    margin-inline: auto;
  }

  .number-div {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .digital-bank-div > * {
    max-width: 1300px;
    margin-inline: auto;
  }

  .logo-language-div {
    max-width: 1200px;
    margin-inline: auto;
  }

  .footer-links-div {
    max-width: 1200px;
    margin-inline: auto;
  }

  .rules-div {
    max-width: 1200px;
    margin-inline: auto;
    background-color: white;
  }

  .reward-div {
    max-width: 1110px;
    margin-inline: auto;
  }

  .swiper {
    max-width: 1110px;
    margin-inline: auto;
  }

  .products-div {
    max-width: 1110px;
    margin-inline: auto;
  }

  .offers-div {
    max-width: 1110px;
    margin-inline: auto;
  }
  .offers-text-div > * {
    padding: 0;
  }

  .scrollable-content {
    max-width: 1110px;
    margin-inline: auto;
  }

  .privacy-menu-header-div {
    justify-content: space-evenly;
  }
  .rules-menu-text-div {
    max-width: 755px;
    margin-inline: auto;
  }

  .rules-menu-header-div {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  .reward-div {
    max-width: 1200px;
    margin-inline: auto;
  }

  .swiper {
    max-width: 1200px;
    margin-inline: auto;
  }

  .products-div {
    max-width: 1200px;
    margin-inline: auto;
  }
  .offers-div {
    max-width: 1200px;
    margin-inline: auto;
  }
}
